@use "functions" as *;

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button-reset {
  border: none;
  background-color: inherit;
}

%toast-content-grid {
  display: grid;
  grid-template-columns: rem(22) 1fr rem(22);
  column-gap: rem(10);
}

%hide-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

%prevent-text-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
